@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  --accent-color: #3ba55c;
  --background-primary: black;
  --margin-top: 5px;
  --text-primary: #FFF8E7;
}


html {
  height: 100dvh;
  width: 100dvw;
}


body {
  background-color: var(--background-primary);
  box-sizing: border-box;
  color: var(--text-primary);
  display: flex;
  flex-direction: row;
  font-family: "Rubik";
  margin: 0;
  overflow: clip;
}


#guildsList {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: var(--margin-top);
  padding: 5px 3px;
  width: 45px;

  > #separator {
    border-color: gray;
    margin: 0;
    width: 80%;
  }

  > .guild {
    aspect-ratio: 1 / 1;
    background-color: #161616;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    cursor: pointer;
    transition: 0.15s;
    width: 90%;
    
    &:hover {
      background-color: var(--accent-color);
    }
    
    &#__home__ {
      background-image: url("assets/discord__white.png");
      background-size: 67%;
    }

    &.selected {
      background-color: var(--accent-color);
    }
  }
}


#mainBody {
  border: solid white;
  border-top-left-radius: 13px;
  border-width: 1px 0 0 1px;
  height: calc(100dvh - var(--margin-top) - 1px);
  margin-top: var(--margin-top);
  overflow-x: clip;
  overflow-y: auto;
  width: calc(100dvw - 50px);
}