@import url("base.css");


#mainBody {
  padding-top: 15px;
  
  > header {
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding: 0 35px;
    
    #profilePicture {
      align-self: center;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      height: max-content;
      width: 80px;
    }

    > div {
      align-self: center;
      display: flex;
      flex-direction: column;
      height: max-content;

      #displayName {
        margin: 0;
      }

      > div {
        align-items: center;
        display: flex;
        flex-direction: row;

        #username {
          margin-right: 8px;
          width: max-content;

          &::before {
            content: "@";
          }
        }

        .connection {
          aspect-ratio: 1 / 1;
          cursor: pointer;
          width: 25px;
        }
      }
      
      /* > #connectionsDiv {
        height: max-content;

        .connection {
          aspect-ratio: 1 / 1;
          cursor: pointer;
          width: 30px;
        }
      }

      #displayName {
        margin: 0;
      }

      #username {
        width: max-content;
        
        &::before {
          content: "@";
        }
      } */
    }
  }

  > #mainContent {
    section {
      background-color: #0A0A0A;
      border-radius: 23px;
      justify-self: center;
      overflow-x: clip;
      padding: 13px 3px;
      padding-top: 40px;
      position: relative;
      width: max(750px);
      
      &#wakaTimeStats {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
  
        > #wakaTimeStatsLanguages {
          max-height: 400px;
        }
      }

      > .section-title {
        font-size: 1.2rem;
        font-weight: bold;
        left: 15px;
        position: absolute;
        top: 15px;
        width: max-content;
      }
    }
  }
}