:root {
  --color-chinese-black: #161616;
  --color-dark-cyan: #202121;
  --color-dreamless-sleep: #101111;
  --color-primary: black;
  --color-vampire-black: #0b0b0b;
}


body {
  background-color: var(--color-primary);
  margin: 0;
}

@media screen and (width >= 320px) {
  #container {
    background-color: var(--color-chinese-black);
    border: 2px solid white;
    border-radius: 13px;
    height: 80vh;
    left: 50%;
    overflow-x: clip;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    z-index: -1;

    #header {
      background-color: inherit;
      border-radius: 13px 13px 0 0;
      box-sizing: auto;
      height: max-content;
      width: 100%;
      
      #banner {
        aspect-ratio: 16/9;
        background-color: var(--color-primary);
        border-radius: inherit;
        width: 100%;
      }

      #icon {
        background-color: inherit;
        border: 1em solid;
        border-color: var(--color-chinese-black);
        border-radius: 50%;
        display: flex;
        height: max-content;
        left: 4em;
        position: absolute;
        top: 21.8em;
        width: max-content;

        #image {
          border-radius: 50%;
          max-width: 100%;
          position: relative;
          width: 13em;
        }
      }

      #name {
        color: white;
        left: 4em;
        padding-bottom: 1em;
        padding-top: 7em;
        position: relative;

        #display-name {
          font-family: sans-serif;
          font-weight: bold;
          font-size: 4em;
        }

        #username {
          font-family: arial;
          font-size: 2.25em;
        }
      }
    }

    #body {
      background-color: inherit;
      display: grid;
      gap: 2.4em;
      height: max-content;
      padding-bottom: 2em;
      width: 100%;

      
      .section {
        background-color: var(--color-dreamless-sleep);
        border-radius: 1em;
        justify-self: center;
        padding: 1.5em 4em;
        width: 75%;

        #title {
          color: gray;
          display: inline-block;
          font-family: sans-serif;
          font-size: 1.8em;
          font-weight: bold;
          left: -0.7em;
          position: relative;
        }

        .divider {
          background-color: var(--color-dark-cyan);
          border: none;
          height: 0.2em;
        }

        .mobile-display {
          display: inline;
        }

        .subsection {
          padding: 1em 0;
          
          #name {
            color: white;
            font-family: arial;
            font-size: 2.4em;
            font-weight: bold;
          }
        }
      }
      
      
      #about-me {
        #content {
          color: white;
          font-family: arial;
          font-size: 2em;
        }
      }

      #connections {
        .connection {
          background-color: inherit;
          display: flex;
          flex-direction: row;
          height: max-content;
          position: relative;
          width: 100%;

          .icon {
            align-items: center;
            background-color: inherit;
            display: flex;
            justify-content: center;
            height: 7em;
            width: 7em;
            
            .image {
              border-radius: 25%;
              max-width: 100%;
              width: 5em;
            }
          }

          .name {
            align-self: center;
            background-color: inherit;
            height: max-content;

            .content {
              color: white;
              font-family: serif;
              font-size: 2.3em;
              text-decoration: none;
            }
          }
          
          .external {
            align-self: center;
            background-color: inherit;
            color: white;
            font-size: 3em;
            position: absolute;
            right: 0;
          }
        }
      }

      .button {
        background-color: var(--color-dreamless-sleep);
        border: 1px solid white;
        border-radius: 18px;
        justify-self: center;
        max-width: 100%;
        padding: 1.8em 4em;
        text-align: start;
        width: 90%;

        .name {
          color: white;
          font-family: arial;
          font-size: 3em;
          font-weight: bold;
        }
      }
    }
  }

  .modal {
    background-color: var(--color-chinese-black);
    border: 2px solid white;
    border-radius: 13px;
    box-sizing: auto;
    display: none;
    height: 93vh;
    left: 50%;
    overflow-x: clip;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 86vw;
    z-index: 0;

    &.show {
      display: block;
    }

    .close-modal {
      background-color: inherit;
      border: none;
      color: white;
      font-family: arial;
      font-size: 3em;
      font-weight: bold;
      left: 0.5em;
      max-width: 100%;
      position: absolute;
      top: 0.5em;
    }
  }
}